@model ContatoModel 

@{
    ViewData["Title"] = "Criar Contato";
}
<div class="text-center">

    <h1 class="display-4">Cadastrar Contato</h1>

</div>

<form asp-controller="Contato" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do Contato">
    </div>
    <br />

    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do Contato">
    </div>
    <br />

    <div class="form-group">
        <label for="celular">Celular:</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o e-Celular do Contato">
    </div>
    <br />


    <button type="submit" class="btn btn-primary card-img-top">Adicionar</button>
    <br />
    <br />
    <a class="btn btn-secondary card-img-top" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>